{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Editar usuario{% endblock title %}

{% block content -%}
  
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 
            Usuario {{ entity.id }}: <small>"{{ entity.username }}"</small>
        </h1>
        <p class="lead">Edición de datos del usuario:</p>
      </div>
      <div class="panel-body">

        {{ form(edit_form) }}
    
        <table class="record_actions">
          <tr>
          <td>
              <a title='Listado de Usuarios' href="{{ path('usuario') }}">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">&nbsp;</span>
              </a>
          </td>
          <td>{{ form(delete_form) }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
