{# src/TopGamesBundle/Resources/views/Security/login.html.twig #}
{% extends "TopGamesBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Acceso al sistema{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 
                Acceso de Usuarios: <small>Introduzca sus datos</small>
            </h1>
            <p class="lead">Acceso al sistema:</p>
        </div>
        <div class="panel-body">

        {% if error %}
            <div class="alert alert-danger" role="alert">
            {{ error.message }}
            </div>
        {% endif %}

            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="_password" required="required" />

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                añade lo siguiente si quieres redirigir al usuario a una
                URL concreta después del login (explicado más adelante)
                <input type="hidden" name="_target_path" value="/account" />
            #}

                <button type="submit">login</button>
            </form>        
        </div>
    </div>
</div>
{% endblock content %}
