{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Detalles lista{% endblock title %}
{% block content -%}
    <h1>Lista</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Autororiginal</th>
                <td>{{ entity.autorOriginal }}</td>
            </tr>
            <tr>
                <th>Idusuario</th>
                <td>{{ entity.idUsuario }}</td>
            </tr>
        </tbody>
    </table>
    Listado de juegos: (Elementos: {{juegosAsociados|length}})
    {% if juegosAsociados|length > 0 %}
        <table class="record_properties">
               <tbody>
               <thead>
                    <th></th>
                    <th>Id </th>
                    <th>Título </th>
                    <th>Plataformas</th>
                    <th></th>
               </thead>
                 {% for juego in juegosAsociados %}
                        <tr>
                            <td> <img src="{{asset(juego.getWebPath)}}" alt="Portada" height="200" width="200" />
                        <td>{{ juego.id }}</td>
                        <td>{{ juego.titulo }}</td>
                        <td> 
                       {% for platafora in juego.listaPlataformas %}
                             {% if platafora.letraBlanca == true %}
                                   <li><b style="color: white;border-radius: 4px; background-color: {{ platafora.color }}">{{ platafora.nombre }}</b></li>
                               {% else %}
                                   <li><b style="border-radius: 4px; background-color: {{ platafora.color }}">{{ platafora.nombre }}</b></li>
                               {% endif %}
                       {% endfor %}
                       </td>
                       <td>
                                <a href="{{ path('lista_juego_remove', { 'idJuego': juego.id ,'idLista': entity.id}) }}">eliminar juego</a>
                       </td>
                   </tr>
                  {% endfor %}
       </table>
        {% else %}
            <br>Sin juegos asociados   
     {% endif %}
                   

        <ul class="record_actions">
    <li>
        <a href="{{ path('lista') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('lista_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock content %}
