{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Editar juego{% endblock title %}

{% block content -%}
    <h1>Juego edit</h1>
 <img src="{{asset(entity.getWebPath)}}" alt="Portada" height="200" width="200" />
        
    {{ form(edit_form) }}
 
        <ul class="record_actions"> 
    <li>
        <a href="{{ path('juego') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock content %}
