{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Listado de juegos{% endblock title %}

{% block content -%} 
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> 
                Juegos: <small>juegos dadas de alta en el sistema</small>
            </h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">

          {% if (entities|length) > 0 %}
              {# Hay usuarios #}
                <div class="panel panel-default">
                 {# display navigation #}
                    <div class="navigation" style="float:right">
                    {{ knp_pagination_render(entities) }} 
                    </div> 
                    <table class="table table-striped table-condensed">
                        <thead>

                            <tr>
                                <th>Portada</th>
                                <th>Titulo</th>
                                <th>Descripcion</th>
                                <th>Plataformas</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
        {% for entity in entities %}
                            <tr>
                                <td> 
                                    <a href='{{ path('juego_show', { 'id': entity.id }) }}'>
                                        <img src="{{asset(entity.getWebPath)}}" alt="Portada" height="150" width="150" />
                                    </a>
                                </td>
                                <td>{{ entity.titulo }}</td>
                                <td>{{ entity.descripcion }}</td>

                                <td> 
                {% for plataforma in entity.listaPlataformas %}
                      {% if plataforma.letraBlanca == true %}
                        <li><b style="color: white;border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b></li>
                        {% else %}
                        <li><b style="border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b></li>
                        {% endif %}
                {% endfor %}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('juego_show', { 'id': entity.id }) }}">detalles</a>
                                </li>
                                <li>
                                    <a href="{{ path('juego_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                                <li>
                                    <a href="{{ path('juego_plataformas', { 'id': entity.id }) }}">plataformas</a>
                                </li>
                            </ul>
                        </td>
                        </tr>
        {% endfor %}
                        </tbody>
                    </table>
{% else %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4>¡No se han encontrado resultados!</h4>
                    </div>
                    <p>
                        <a href="">
                            <button type="button" class="btn btn-primary btn-lg">Inicio</button>
                        </a>
                    </p>
            {% endif %}

                </div>
            </div>

        </div>
        <ul>
            <a class="btn btn-primary" href="{{ path('juego_new') }}">
                Nuevo juego
            </a>
        </ul>
        <br>
    </div>
</div>        


{% endblock  content %}
