{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Listado de juegos{% endblock title %}

{% block content -%}
    <h1>Juego list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Portada</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Plataformas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td> <img src="{{asset(entity.getWebPath)}}" alt="Portada" height="150" width="150" /></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.descripcion }}</td>
             
                <td> 
                {% for plataforma in entity.listaPlataformas %}
                      {% if plataforma.letraBlanca == true %}
                            <li><b style="color: white;border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b></li>
                        {% else %}
                            <li><b style="border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b></li>
                        {% endif %}
                {% endfor %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('juego_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('juego_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                     <li>
                        <a href="{{ path('juego_plataformas', { 'id': entity.id }) }}">plataformas</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('juego_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock  content %}
