{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Mostrar juego{% endblock title %}

{% block content -%}
    <h1>Juego</h1>

       {% if error == -1 %}
    <b>Juego ya en la lista seleccionada</b>
      {% endif %}
    <table class="record_properties">
        <thead>
             <th></th>
             <th>Id</th>
             <th>Titulo</th>
             <th>Descripcion</th>
             <th>Path</th>
             <th>Plataformas</th>
        </thead>
        <tbody>
            <tr>
                <td>  <img src="{{asset(entity.getWebPath)}}" alt="Portada" height="200" width="200" />
                </td>
               
                <td>{{ entity.id }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.path }}</td>
                <td> 
                {% for plataforma in listaPlataformas %}
                      {% if plataforma.letraBlanca == true %}
                            <li><b style="color: white;border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b></li>
                        {% else %}
                            <li><b style="border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b></li>
                        {% endif %}
                {% endfor %}
                </td>
            </tr>
          
        </tbody>
    </table>
    
      <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" method='post' action='{{ path('juego_add_to_list') }}'>
          <div class="form-group">
            <input id="idJuego" name="idJuego" type="hidden" value="{{ entity.id }}">
            <label for="idList" class="col-sm-2 control-label">Añadir a lista:</label>
            <select id="idList" name="idList"> {% for lista in misListas %} <option value="{{ lista.id }}"> {{ lista.nombre }} </option> {% endfor %}</select>
          </div>
          <div class="form-group">
            <button type="submit" class="col-sm-offset-2 col-sm-2 btn btn-primary">Añadir a lista</button>
          </div>
        </form>
      </div>
    </div>
  </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('juego') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('juego_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock  content %}

