{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Mostrar juego{% endblock title %}

{% block content -%}
    <h1>Juego</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
             <tr>
                <th>Plataformas</th>
                <td> 
                {% for platafora in listaPlataformas %}
                      {% if platafora.letraBlanca == true %}
                            <li><b style="color: white;border-radius: 4px; background-color: {{ platafora.color }}">{{ platafora.nombre }}</b></li>
                        {% else %}
                            <li><b style="border-radius: 4px; background-color: {{ platafora.color }}">{{ platafora.nombre }}</b></li>
                        {% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
        <img src="{{asset(entity.getWebPath)}}" alt="Portada" height="200" width="200" />
            
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('juego') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('juego_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock  content %}

