{% extends 'TopGamesBundle::layout.html.twig' %}

{% block title %} {{ parent()}} Editar plataforma{% endblock title %}

{% block content -%}
    <h1>Plataforma edit</h1>

      <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" method='post' action='{{ path('plataforma_update') }}'>
          <div class="form-group">
            <div class="col-sm-4">
                <input type="hidden" name="id" value="{{entity.id}}">
                Nombre:<input type="text" class="form-control" name='nombre' id="nombre" required="required" value="{{entity.nombre}}"> 
                Color:<input type="color" name="color" value="{{entity.color}}"><br>
                 {% if entity.letraBlanca == true %}
                Letra blanca:<input type="checkbox" name="letraBlanca" value="on" checked>
                {% else %}
                 Letra blanca:<input type="checkbox" name="letraBlanca" value="on">
                {% endif %}
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="col-sm-offset-2 col-sm-1 btn btn-primary">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('plataforma') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock content %}
